build/
result.wav
exe_location.json
operation/__pycache__/
audio/__pycache__/
data/__pycache__/
data/voice.wav
data/voice1.wav
audio/__pycache__/play.cpython-310.pyc
audio/__pycache__/recognition.cpython-310.pyc
audio/__pycache__/record.cpython-310.pyc
audio/__pycache__/synthesis.cpython-310.pyc
utils/__pycache__/
.idea/misc.xml
.idea/tzh_workspace_v2.iml
data/dolly_hug.csv
data/data_for_train.csv
utils/data.csv
utils/data_ans_temp.csv
utils/data_ans.csv
dist/lenochat.exe
__pycache__/
lenochat.spec
utils/data_tzh.csv
/.idea/codeStyles/codeStyleConfig.xml
/test.py
test_file/hi.csv
.DS_Store
data/pdf_search.index
data/tempfile.pptx
Untitled-1.ipynb
.idea/.name
/dist
blue_sceen.txt
model/model_chatglm2/config.json
model/model_chatglm2/configuration_chatglm.py
model/model_chatglm2/gitattributes.txt
model/model_chatglm2/MODEL_LICENSE.txt
model/model_chatglm2/modeling_chatglm.py
model/model_chatglm2/pytorch_model-00001-of-00007.bin
model/model_chatglm2/pytorch_model-00002-of-00007.bin
model/model_chatglm2/pytorch_model-00003-of-00007.bin
model/model_chatglm2/pytorch_model-00004-of-00007.bin
model/model_chatglm2/pytorch_model-00005-of-00007.bin
model/model_chatglm2/pytorch_model-00006-of-00007.bin
model/model_chatglm2/pytorch_model-00007-of-00007.bin
model/model_chatglm2/pytorch_model.bin.index.json
model/model_chatglm2/quantization.py
model/model_chatglm2/README.md
model/model_chatglm2/tokenization_chatglm.py
model/model_chatglm2/tokenizer_config.json
model/model_chatglm2/tokenizer.model
model/models--GanymedeNil--text2vec-large-chinese/config.json
model/models--GanymedeNil--text2vec-large-chinese/pytorch_model.bin
model/models--GanymedeNil--text2vec-large-chinese/special_tokens_map.json
model/models--GanymedeNil--text2vec-large-chinese/tokenizer_config.json
model/models--GanymedeNil--text2vec-large-chinese/tokenizer.json
model/models--GanymedeNil--text2vec-large-chinese/vocab.txt
model/models--GanymedeNil--text2vec-large-chinese/.no_exist/b23825b5841818578dd225b5420c4b026ff58aa3/added_tokens.json
model/models--GanymedeNil--text2vec-large-chinese/.no_exist/e399b4574549ae89580bbba8a512fd9edddcffeb/added_tokens.json
model/models--GanymedeNil--text2vec-large-chinese/.no_exist/e399b4574549ae89580bbba8a512fd9edddcffeb/model.safetensors
model/models--GanymedeNil--text2vec-large-chinese/.no_exist/e399b4574549ae89580bbba8a512fd9edddcffeb/model.safetensors.index.json
model/models--GanymedeNil--text2vec-large-chinese/blobs/eaf5cb71c0eeab7db3c5171da504e5867b3f67a78e07bdba9b52d334ae35adb3.lock
model/models--GanymedeNil--text2vec-large-chinese/refs/main
model/models--GanymedeNil--text2vec-large-chinese/snapshots/b23825b5841818578dd225b5420c4b026ff58aa3/config.json
model/models--GanymedeNil--text2vec-large-chinese/snapshots/b23825b5841818578dd225b5420c4b026ff58aa3/pytorch_model.bin
model/models--GanymedeNil--text2vec-large-chinese/snapshots/b23825b5841818578dd225b5420c4b026ff58aa3/special_tokens_map.json
model/models--GanymedeNil--text2vec-large-chinese/snapshots/b23825b5841818578dd225b5420c4b026ff58aa3/tokenizer_config.json
model/models--GanymedeNil--text2vec-large-chinese/snapshots/b23825b5841818578dd225b5420c4b026ff58aa3/tokenizer.json
model/models--GanymedeNil--text2vec-large-chinese/snapshots/b23825b5841818578dd225b5420c4b026ff58aa3/vocab.txt
model/models--GanymedeNil--text2vec-large-chinese/snapshots/e399b4574549ae89580bbba8a512fd9edddcffeb/config.json
model/models--GanymedeNil--text2vec-large-chinese/snapshots/e399b4574549ae89580bbba8a512fd9edddcffeb/pytorch_model.bin
model/models--GanymedeNil--text2vec-large-chinese/snapshots/e399b4574549ae89580bbba8a512fd9edddcffeb/special_tokens_map.json
model/models--GanymedeNil--text2vec-large-chinese/snapshots/e399b4574549ae89580bbba8a512fd9edddcffeb/tokenizer_config.json
model/models--GanymedeNil--text2vec-large-chinese/snapshots/e399b4574549ae89580bbba8a512fd9edddcffeb/tokenizer.json
model/models--GanymedeNil--text2vec-large-chinese/snapshots/e399b4574549ae89580bbba8a512fd9edddcffeb/vocab.txt
model/models--GanymedeNil--text2vec-large-chinese/snapshots/eb0ba6f8f02dcf960514fc55e4a3abd6cda6e0c5/config.json
.idea/.gitignore
.idea/deployment.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
test_file
test_file/hi_eng.csv
utils/example_loras/PAseerCloudV1.safetensors
utils/models/anything-v5-PrtRE.safetensors
svg
models
chat_server copy.py
outputs
data/tempfile.pdf
