build/

result.wav
exe_location.json
operation/__pycache__/
audio/__pycache__/
data/__pycache__/
data/voice.wav
data/voice1.wav
audio/__pycache__/play.cpython-310.pyc
audio/__pycache__/recognition.cpython-310.pyc
audio/__pycache__/record.cpython-310.pyc
audio/__pycache__/synthesis.cpython-310.pyc

utils/__pycache__/
data/voice.wav
data/voice1.wav
.idea/misc.xml
.idea/tzh_workspace_v2.iml
data/dolly_hug.csv

data/data_for_train.csv
utils/data.csv
utils/data_ans_temp.csv

utils/data_ans.csv

dist/lenochat.exe
__pycache__/
lenochat.spec
utils/data_tzh.csv
/.idea/codeStyles/codeStyleConfig.xml
/test.py
test_file/hi.csv
