# client
screen_brightness_control
pynvml
fastapi
uvicorn
python-multipart
pyaudio
SpeechRecognition
comtypes
pycaw
python-pptx
pdfplumber
pywin32
azure-cognitiveservices-speech
# server
torch --index-url https://download.pytorch.org/whl/cu118
peft
bitsandbytes
scipy
faiss-cpu
cpm_kernels
sentencepiece
chardet
uuid
pymysql
cachelib
librosa
numpy==1.23.0
unstructured
bs4
selenium
transformers
